pkgbase = lcdproc
	pkgdesc = Utility to drive one or more LCD (and LCD-like) devices
	pkgver = 0.5.6
	pkgrel = 4
	url = http://lcdproc.omnipotent.net/
	arch = i686
	arch = x86_64
	license = GPL
	depends = libftdi-compat
	optdepends = perl: needed for some lcdproc tools
	backup = etc/LCDd.conf
	backup = etc/lcdexec.conf
	backup = etc/lcdproc.conf
	backup = etc/lcdvc.conf
	source = http://downloads.sourceforge.net/lcdproc/lcdproc-0.5.6.tar.gz
	source = lcdd.service
	sha256sums = bd2f43c30ff43b30f43110abe6b4a5bc8e0267cb9f57fa97cc5e5ef9488b984a
	sha256sums = 0acdc0fb9668e6d5e023349874301153a16935e1ad757d550c426a9a7ac64638

pkgname = lcdproc

