pkgbase = lcdproc
	pkgdesc = Utility to drive one or more LCD (and LCD-like) devices
	pkgver = 0.5.7
	pkgrel = 2
	url = http://lcdproc.omnipotent.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = g15daemon
	depends = libftdi-compat
	optdepends = perl: needed for some lcdproc tools
	optdepends = g15daemon: needed if you want g15 support
	backup = etc/LCDd.conf
	backup = etc/lcdexec.conf
	backup = etc/lcdproc.conf
	backup = etc/lcdvc.conf
	source = http://downloads.sourceforge.net/lcdproc/lcdproc-0.5.7.tar.gz
	source = lcdd.service
	sha256sums = 843007d377adc856529ed0c7c42c9a7563043f06b1b73add0372bba3a3029804
	sha256sums = 0acdc0fb9668e6d5e023349874301153a16935e1ad757d550c426a9a7ac64638

pkgname = lcdproc

